# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.egg-info/

# -------------------------
# Virtual environments
# -------------------------
.venv/
.env/
miniconda3/

# -------------------------
# Editors
# -------------------------
.vscode/

# -------------------------
# Local / Generated Data (NOT tracked)
# -------------------------
data/experiments/raw/
data/experiments/processed/
data/predictions/
data/joined/
data/plots/