# Python cache
__pycache__/
*.py[cod]

# Virtual envs / env configs
.venv/
.env/

# Conda / local tools (never commit these)
miniconda3/

# VS Code / editor settings (optional)
.vscode/

# Local data outputs (NOT tracked)
data/experiments/processed/
data/experiments/raw/
data/predictions/
data/joined/
data/plots/
